header {
    margin-top: 70px;
    margin-bottom: 50px;
}

button {
    text-align: center;
}

#todo-icon {
    font-size: 32px;
}

#taskForm {
    margin-bottom: 30px;
}

#taskInput {
    width: 400px;
}

.completeCheckbox {
    height: 22px;
    width: 22px;
}

.completedTask {
    background-color: #aaffaa;
}

.deleteBtn {
    opacity: 0.75;
}